<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AppTitle</title>

    <link rel="shortcut icon" href="~/favicon.ico">
    <environment include="Development">

        <link rel="stylesheet" href="~/css/main.css" />
    </environment>

    <!-- 自定义样式 -->
    @RenderSection("styles", required: false)

    @*<script type="text/javascript">
        // 获取应用程序根路径
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>*@
</head>
<body>
    @RenderBody()


    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.3.1.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>


    <!-- 自定义脚本 -->
    @RenderSection("scripts", required: false)




</body>
</html>