<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--FTP常量配置-->
    <add key="_ftp_ip" value="172.17.0.139" />
    <!--<add key="_ftp_ip" value="192.168.100.164" />-->
    <add key="_ftp_uid" value="admin" />
    <add key="_ftp_pwd" value="admin888" />
    <add key="_ftp_view_uid" value="view" />
    <add key="_ftp_view_pwd" value="view888" />
    <add key="_ftp_dir" value="zygis" />
    <!--当前系统Code-->
    <add key="_syscode" value="S001" />
  </appSettings>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" runManagedModulesForWebDavRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" />
  </system.webServer>
</configuration>